<ion-view title="Cadastro" id="page5" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="cadastro-form2" class="list ">
            <ion-list id="cadastro-list3" class=" ">
                <label class="item item-input " id="cadastro-input3">
                    <span class="input-label">Nome</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="cadastro-input4">
                    <span class="input-label">Usuário</span>
                    <input type="text" placeholder="">
                </label>
            </ion-list>
            <label class="item item-input " id="cadastro-input5">
                <span class="input-label">Senha</span>
                <input type="text" placeholder="">
            </label>
            <a ui-sref="menu.home" id="cadastro-button3" class=" button button-positive  button-block icon-right ion-android-arrow-forward ">Confirmar cadastro</a>
        </form>
    </ion-content>
</ion-view>