<ion-view title="Capítulo III" id="page12" style="background-color:#BBCAD8;" class=" ">
    <ion-content padding="true" class="has-header">
        <h4 id="capTuloIII-heading12" style="color:#000000;" class=" ">CAPÍTULO III – Da Organização Administrativa e Didática</h4>
        <p id="capTuloIII-markdown7" style="color:#000000;text-align:justify;" class=" ">Art. 4º - O Coordenador Pedagógico será responsável pela qualificação da ação do coletivo da escola, vinculando e articulando o trabalho ao Projeto Político pedagógico. §1º - Compete ao Coordenador Pedagógico: 2 I. Articular-se com a Direção da
            U.E., Coordenadores de Curso e responsáveis pelos departamentos envolvidos para compatibilizar diretrizes, organização e desenvolvimento dos trabalhos; II. Convocar, sempre que necessário, os docentes e os Coordenadores de Curso para discutir
            questões relativas à organização, planejamento, desenvolvimento e avaliação do TCC; III. Acompanhar o processo de constituição da Banca de Validação e de definição do cronograma de apresentação dos trabalhos a cada período letivo. Art. 5º
            - O Coordenador de Curso será responsável pela operacionalização e permanente avaliação das atividades docentes. §1º - Compete ao Coordenador de Curso: I. Delimitar as áreas de conhecimento do TCC em conjunto com os professores da habilitação;
            II. Atualizar, em conjunto com a equipe escolar, regulamentações específicas complementares do TCC da Habilitação Profissional; III. Promover parcerias com empresas e instituições da área profissional para o enriquecimento tecnológico dos
            trabalhos dos alunos.</p>
        <div id="capTuloIII-button-bar7" class=" button-bar ">
            <a ui-sref="menu.home" id="capTuloIII-button24" class=" button button-positive  button-block icon ion-ios-home-outline "></a>
            <a ui-sref="menu.capTuloIV" id="capTuloIII-button25" class=" button button-positive  button-block ">Próximo</a>
        </div>
    </ion-content>
</ion-view>