<ion-view title="Capítulo II" id="page11" style="background-color:#BBCAD8;" class=" ">
    <ion-content padding="true" class="has-header">
        <h4 id="capTuloII-heading11" style="color:#000000;" class=" ">CAPÍTULO II – Da Regulamentação</h4>
        <p id="capTuloII-markdown6" style="color:#000000;text-align:justify;" class=" ">Art. 3º - Os Trabalhos de Conclusão de Curso serão regidos por regulamento próprio da U.E., aprovado pelo Conselho de Escola, atendidas as disposições da Unidade de Ensino Médio e Técnico – CETEC. §1º - o Regulamento do Trabalho de Conclusão de
            Curso da U.E. deverá fazer parte do Projeto Político Pedagógico da escola e definir basicamente: I. Modalidades de trabalhos e objetivos; II. Normas para desenvolvimento do TCC; III. Normas para definição do cronograma de apresentação dos
            trabalhos, prazos para entrega dos trabalhos e para divulgação da composição das Bancas de Validação e outros; IV. Critérios de avaliação; V. Instrumentos para orientação, controle e avaliação dos trabalhos.</p>
        <div id="capTuloII-button-bar6"
        class=" button-bar ">
            <a ui-sref="menu.home" id="capTuloII-button22" class=" button button-positive  button-block icon ion-ios-home-outline "></a>
            <a ui-sref="menu.capTuloIV" id="capTuloII-button23" class=" button button-positive  button-block ">Próximo</a>
        </div>
    </ion-content>
</ion-view>