<ion-view title="Capítulo IV" id="page13" style="background-color:#BBCAD8;" class=" ">
    <ion-content padding="true" class="has-header">
        <h4 id="capTuloIV-heading13" style="color:#000000;" class=" ">CAPÍTULO IV – Da Orientação</h4>
        <p id="capTuloIV-markdown8" style="color:#000000;text-align:justify;" class=" ">Art. 6º - A orientação dos trabalhos, entendida como processo de acompanhamento didático-pedagógico, será responsabilidade dos professores com aulas atribuídas nos componentes curriculares específicos do TCC, de forma articulada e integrada aos
            demais componentes curriculares da habilitação. §1º - Os docentes do Componente Curricular específico do TCC terão como principais atribuições: I. Definir a estrutura do TCC, segundo orientações da Unidade de Ensino Médio e Técnico; II. Orientar
            especificamente o desenvolvimento de cada trabalho, no que se refere à problematização, delimitação do tema, construção de referenciais teóricos, fontes de pesquisa, cronograma de atividades, identificação de recursos tec.; III. Informar aos
            alunos sobre as normas, procedimentos e critérios de avaliação; IV. Acompanhar o desenvolvimento dos trabalhos, segundo cronograma estabelecido; V. Avaliar o TCC em suas diferentes etapas (avaliação parcial e final); VI. Preencher a Ficha
            de Avaliação do TCC de cada aluno de sua turma para composição do prontuário; VII. Encaminhar os trabalhos aprovados à Banca de Validação (opcional). Caso seja feita opção pela Banca de Validação, caberá, ainda, aos docentes dos Componentes
            Curriculares do TCC: a. Organizar o processo de constituição da Banca de Validação e definir o cronograma de apresentação de trabalhos; b. Divulgar, por meio de documentos internos datados e assinados, a relação de alunos, respectivos temas
            dos trab alhos e composição da Banca de Validação; c. Presidir a Banca de Validação dos trabalhos da sua turma; d. Elaborar a ata da Banca de Validação, constando os pareceres emitidos sobre cada trabalho, devidamente assinada por todos os
            integrantes, para composição do prontuário do aluno.</p>
        <div id="capTuloIV-button-bar8" class=" button-bar ">
            <a ui-sref="menu.home" id="capTuloIV-button26" class=" button button-positive  button-block icon ion-ios-home-outline "></a>
            <a ui-sref="menu.capTuloV" id="capTuloIV-button27" class=" button button-positive  button-block ">Próximo</a>
        </div>
    </ion-content>
</ion-view>