<ion-view title="Capítulo VI" id="page15" style="background-color:#BBCAD8;" class=" ">
    <ion-content padding="true" class="has-header">
        <h4 id="capTuloVI-heading15" style="color:#000000;" class=" ">CAPÍTULO VI – Da Banca de Validação</h4>
        <p id="capTuloVI-markdown10" style="color:#000000;text-align:justify;" class=" ">Art. 8º - A Banca de Validação não é obrigatória. A equipe escolar poderá decidir pela submissão ou não dos trabalhos à Banca de Validação. Art. 9º - Caso a equipe escolar opte pela realização da Banca de Validação, esta terá como composição básica
            o Professor Responsável pelo Componente Curricular Desenvolvimento do TCC, como seu presidente, e mais dos professores da U.E. §1º - Os critérios para composição da Banca de Validação dos trabalhos serão definidos no regulamento específico
            de cada Habilitação Profissional. §2º - A critério da Coordenação de Curso, poderá, ainda, integrar a Banca de Validação docente de outra instituição de ensino ou profissional do setor produtivo considerado autoridade na temática do TCC a
            ser apreciado. Art. 10º - Os casos omissos serão resolvidos pela Direção da U.E.</p>
        <div id="capTuloVI-button-bar10" class=" button-bar ">
            <a ui-sref="menu.home" id="capTuloVI-button30" class=" button button-positive  button-block icon ion-ios-home-outline "></a>
            <a ui-sref="menu.modeloFSico" id="capTuloVI-button31" class=" button button-positive  button-block ">Modelo Físico</a>
        </div>
    </ion-content>
</ion-view>