<ion-view title="Downloads" id="page3" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="width: 283px; height: 60px;"></div>
        <h3 id="downloads-heading16" style="color:#000000;text-align:center;" class=" ">Material completo disponível para download.</h3>
        <div class="spacer" style="width: 283px; height: 40px;"></div>
        <div class="">
            <img src="img/x7EbkEroQuWoB1yHTUZq_downloads.jpg" width="60%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 283px; height: 18px;"></div>
        <a href="#" onclick="window.open('http://etecdrc.com.br/a-escola/tcc/', '_system', 'location=yes'); return false;" id="downloads-button11" class=" button button-positive  button-block icon-right ion-ios-download ">Link downloads</a>
    </ion-content>
</ion-view>