<ion-view title="Home" id="page1" style="background-color:#BBCAD8;" class=" ">
    <ion-content padding="true" class="has-header">
        <h4 id="home-heading3" style="color:#000000;font-weight:600;font-style:italic;text-align:center;" class=" ">Guia auxílio rápido - TCC</h4>
        <h5 id="home-heading10" style="color:#000000;text-align:center;" class=" ">Etec Dra. Ruth Cardoso | São Vicente</h5>
        <div class="">
            <img src="img/EjdlgzfQMeqVctd7y5gA_etec_aluno_doido_tcc.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 283px; height: 33px;"></div>
        <p id="home-markdown1" style="color:#000000;font-size:14px;text-align:justify;" class=" ">
            <strong>Estas diretrizes têm por objetivo padronizar a apresentação dos Trabalhos de Conclusão de Curso (TCCs) das Habilitações Técnicas de Nível Médio da Etec Doutora Ruth Cardoso. O documento está baseado nas recomendações da Associação Brasileira
                de Normas Técnicas (ABNT), em conformidade com o Regulamento Geral do Centro Estadual de Educação Tecnológica Paula Souza, e destina-se aos alunos e professores dos cursos de Administração, Logística, Edificações, Enfermagem e Informática.</strong>
        </p>
    </ion-content>
</ion-view>