<ion-view title="Modelo Físico" id="page8" class=" ">
    <ion-content padding="true" class="has-header">
        <h3 id="modeloFSico-heading5" style="color:#000000;text-align:center;" class=" ">Guia TCC - Sequência</h3>
        <div class="spacer" style="width: 283px; height: 25px;"></div>
        <div class="" style="margin-left: -10px; width: calc(100% + 20px);">
            <a style="display:block;" ui-sref="menu.home">
                <img src="img/tm334VH6SAebmNMYTsBe_tcc-fisico.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </a>
        </div>
        <div class="">
            <img src="img/4PzRrqbDSja1yyW7aQjp_planing.jpg" width="70%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
    </ion-content>
</ion-view>