<ion-view title="Referências" id="page9" style="background-color:#BBCAD8;" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="width: 283px; height: 60px;"></div>
        <p id="referNcias-markdown11" style="color:#000000;font-size:13px;" class=" ">
            <strong>https://i.ytimg.com/vi/alAvyr5MPwg/hqdefault.jpg http://etecdrc.com.br/a-escola/tcc/ http://pt.dreamstime.com/ilustra%C3%A7%C3%A3o-stock-regras-para-o-neg%C3%B3cio-image59615781https://www.linkedin.com/
            </strong>
        </p>
    </ion-content>
</ion-view>