<ion-view title="Regulamento" id="page2" style="background-color:#BBCAD8;" class=" ">
    <ion-content padding="true" scroll="false" class="has-header">
        <div class="spacer" style="width: 283px; height: 25px;"></div>
        <h3 id="regulamento-heading7" style="color:#000000;font-weight:600;font-style:italic;text-align:center;" class=" ">Regulamento Geral Capítulos de 01-06</h3>
        <div id="regulamento-button-bar1" class=" button-bar ">
            <a ui-sref="menu.capTuloI" id="regulamento-button6" class=" button button-positive  button-block ">Capítulo I</a>
            <a ui-sref="menu.capTuloII" id="regulamento-button7" class=" button button-calm  button-block ">Capítulo II</a>
        </div>
        <div id="regulamento-button-bar2" class=" button-bar ">
            <a ui-sref="menu.capTuloIII" id="regulamento-button9" class=" button button-balanced  button-block ">Capítulo III</a>
            <a ui-sref="menu.capTuloIV" id="regulamento-button10" class=" button button-assertive  button-block ">Capítulo IV</a>
        </div>
        <div id="regulamento-button-bar3" class=" button-bar ">
            <a ui-sref="menu.capTuloV" id="regulamento-button12" class=" button button-energized  button-block ">Capítulo V</a>
            <a ui-sref="menu.capTuloVI" id="regulamento-button13" class=" button button-dark  button-block ">Capítulo VI</a>
        </div>
        <div class="spacer" style="width: 300px; height: 36px;"></div>
        <div id="regulamento-button-bar4" class=" button-bar "></div>
        <div class="">
            <img src="img/kpJ4JkD3THaQAAQrjJKG_regras_imagens.jpg" width="50%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
    </ion-content>
</ion-view>