<ion-view title="Sobre" id="page16" class=" ">
    <ion-content padding="true" class="has-header">
        <h3 id="sobre-heading18" style="color:#000000;text-align:center;" class=" ">- Etec Dra. Ruth Cardoso -</h3>
        <div class="">
            <img src="img/dSOMki2QBsrumZuQ7v6A_etec_ruth_cardoso.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 283px; height: 27px;"></div>
        <p id="sobre-markdown12" style="color:#000000;text-align:center;" class=" ">
            <strong>Pça. Coronel Lopes, 387 - Centro CEP 11310-020 - São Vicente/SP Telefone: (13) 3467-7153 Telefone: (13) 3467-2955 E-mail: contato@etecdrc.com.br E-mail e194acad@cps.sp.gov.br Site: www.etecdrc.com.br</strong>
        </p>
        <div id="sobre-button-bar11" class=" button-bar ">
            <a href="#" onclick="window.open('https://www.facebook.com/EtecDRC', '_system', 'location=yes'); return false;" id="sobre-button16" class=" button button-positive  button-block icon ion-social-facebook "></a>
            <a href="#" onclick="window.open('https://www.youtube.com/user/etecdrc', '_system', 'location=yes'); return false;" id="sobre-button17" class=" button button-assertive  button-block icon ion-social-youtube "></a>
            <a href="#" onclick="window.open('https://www.linkedin.com/', '_system', 'location=yes'); return false;" id="sobre-button20" class=" button button-positive  button-block icon ion-social-linkedin "></a>
        </div>
    </ion-content>
</ion-view>